.mapbox-container {
  position: relative
}

#map {
  height: 100vh;
  width: 100vw;
  z-index: 1000;
}

.popup {
  background: white;
  color: #3f618c;
  font-weight: 400;
  padding: 5px;
  border-radius: 2px;
}

.more-link {
  text-decoration: underline;
  cursor: pointer;
}

.more-link:hover {
  transform: scale(1.10);
}

.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
  z-index: 1001;
}

#features {
  top: 0;
  height: 100px;
  margin-top: 20px;
  width: 250px;
  padding: 10px; 
}

#legend {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  height: 150px;
  margin-bottom: 40px;
  width: 120px;
}

.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}