#map {
  height: 800px;
  width: 100vw;
  z-index: 1000;
}

.popup {
  background: white;
  color: #3f618c;
  font-weight: 400;
  padding: 5px;
  border-radius: 2px;
}

.more-link {
  text-decoration: underline;
  cursor: pointer;
}

.more-link:hover {
  transform: scale(1.10);
}
