.sign-out-button {
  color: #fff;
  display: block;
  transition: .3s background-color;
  background-color: black;
  border: none;
  margin: 0 auto
}

.sign-out-button:hover {
  background-color: #ac8e42;
  color: black;
}
 
.sign-out-button:active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  /* .sign-out-button {
    color: forestgreen;
  } */

}