.sign-out-button {
  color: #fff;
  display: block;
  transition: .3s background-color;
  background-color: #3e0f0f;
  border: none;
  margin: 0 auto;
  width: 100%;
  cursor: pointer;
}

.sign-out-button:hover {
  background-color: #ac8e42;
  color: black;
}
 
.sign-out-button:active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
