.nav-icon {
  color: white;
  width: 5rem;
  display: inline-block
}

#navbar {
  background-color: black;
  overflow: hidden;
  width: 100vw;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 400ms ease-in;
}

#navbar ul {
  list-style: none;
  background-color: #3e0f0f;
  text-align: center;
  padding: 0;
  margin: 0;
}

#navbar li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 44px;
  border-bottom: 1px solid #888;
}
#navbar a {
  text-decoration: none!important;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

#navbar a:hover {
  background-color: #ac8e42;
  color: black;
}
 
#navbar a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

.menu-bars {
  position: fixed;
  top: 2%;
  right: 2%;
  z-index: 2001;
  color: #efc45f;
  cursor: pointer;
}

.menu-bars:hover {
  transform: scale(1.10);
}
.navigation-container {
  height: 500px;
  background: url("../../assets/images/elec-car.jpg") no-repeat center; 
  background-size: cover;
  position: relative;
}

.navigation-container::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  z-index: 2;
  width: 100%;
  height: 246px;
  background: linear-gradient(to bottom, transparent 0%, rgba(1,0,0,0.05) 14%, rgba(0,0,0,0.17) 36%, rgba(0,0,0,0.31) 44%, rgba(0,0,0,0.65) 57%, rgba(0,0,0,0.81) 65%, rgba(0,0,0,0.91) 70%, rgba(0,0,0,0.97) 75%, #000 92%);  background-repeat: repeat-x;
  background-position: left bottom;
}

#navbar {
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  z-index: 1002;
  transform: translateX(-100%);
  background-color: #3e0f0f;
  transition: transform 500ms ease-in;
}
#navbar.slideIn {
  transform: translateX(0);
  position: fixed;
}
#navbar.slideOut {
  transform: translateX(-100%);
  position: fixed;
}

.title {
  color: #efc45f;
  margin-bottom: 0;
}

.unfixed-nav {
  position: absolute;
  bottom: 0;
  z-index: 3;
}

.fixed-nav {
  position: fixed;
  top: 0;
  z-index: 2000;
}

/* .sticky-container{
  height: 50px;
  position: absolute;
  bottom: 0;
  z-index: 3;
} */
#sticky {
  background-color: black;
  display: block;
  width: 100%;
  height:50px;

}





