.map {
    height: 56vh;
    width: 95vw;
    margin: 0 auto;
    position: relative;
    border-radius: 3px;
    background-color: #391313;
}

.message-form {
    z-index: 999;
    position: absolute;
    top: .5%;
    right: .5%;
}

.form-box {
    z-index: 999;
    position: absolute;
    top: .5%;
    right: .5%;
    opacity: .85;
}

.form-container {
    position: relative;
}

.icon-ref {
    background-color: #391313;
    color: white;
    font-size: 10px;
    text-align: center;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: initial;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
