.map {
    height: 56vh;
    width: 95vw;
    margin: 0 auto;
    position: relative;
    border-radius: 3px;
}

.message-form {
    z-index: 999;
    position: absolute;
    top: .5%;
    right: .5%;
}

.form-box {
    z-index: 999;
    position: absolute;
    top: .5%;
    right: .5%;
    opacity: .85;
}

.form-container {
    position: relative;
}
